@model IEnumerable<AMEL2.Models.Bericht>

@{
    ViewBag.Title = "BG - Betriebsgebäude NSUV";
}

<h2>@ViewBag.Title</h2>



<table class="table">
    <tr>
        <th>
            Bezeichnung
        </th>
        <th>
        </th>
    </tr>
    <tr>
        <td>
            Aufbau Verteilung BG SB01-SB05
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Aufbau Verteilung BG SB01-SB05.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>
            Betriebsgebäude Anschlussplan NB01-NB06
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Anschlussplan NB01-NB06.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>
            Betriebsgebäude Ansicht Schaltanlage NB01-NB06
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Ansicht Schaltanlage NB01-NB06.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>
            Betriebsgebäude CPU Zentralgeräte SB04
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude CPU Zentralgeräte SB04.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>
            Betriebsgebäude CPU Zentralgeräte
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude CPU Zentralgeräte.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>

    <tr>
        <td>Betriebsgebäude Datenpunkte</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Datenpunkte.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    <tr>
        <td>Betriebsgebäude Geräteliste KA</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Geräteliste KA.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude Klemmenplan NB01-NB06</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Klemmenplan NB01-NB06.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude Klemmenplan</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Klemmenplan.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude Klemmverteiler KV30-35</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Klemmverteiler KV30-35.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude Leistungsmessung und andere Messungen in Feldern</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Leistungsmessung und andere Messungen in Feldern.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude CPU Zentralgeräte.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude Meldungen</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Meldungen.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude NA01-06 Stromlaufpläne</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude NA01-06 Stromlaufpläne.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude NSHV Ansicht und Stromlaufplan NA01-13 12+13 Kompensation</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude NSHV Ansicht und Stromlaufplan NA01-13 12+13 Kompensation.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    <tr>
        <td>Betriebsgebäude Rangierverteiler X21 SB03</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Rangierverteiler X21 SB03.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude Rangierverteiler X22 SB03</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Rangierverteiler X22 SB03.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude Rangierverteiler X23 SB03</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Rangierverteiler X23 SB03.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude Rangierverteiler X24-25 SB03</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Rangierverteiler X24-25 SB03.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude SB00 Messtechnik</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude SB00 Messtechnik.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude Spannungsversorgungen AußenSchränke und Messungen</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Spannungsversorgungen AußenSchränke und Messungen.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude USVHV Gesicherte 24V Hauptverteilung DC incl. Bl4</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude USVHV Gesicherte 24V Hauptverteilung DC incl. Bl4.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude USVHV Gesicherte 24V Hauptverteilung DC</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude USVHV Gesicherte 24V Hauptverteilung DC.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Betriebsgebäude Verdrahtungen NA08-Na11 händische Zeichnung</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Betriebsgebäude Verdrahtungen NA08-Na11 händische Zeichnung.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Kabelliste KA -1992</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Kabelliste KA -1992.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>Störmeldungen externer Pumpwerke</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbetriebsgebaudensuv/Störmeldungen externer Pumpwerke.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
</table>