@model IEnumerable<AMEL2.Models.Bericht>

@{
    ViewBag.Title = "BIOF - Bioforgebäude";
}

<h2>@ViewBag.Title</h2>



<table class="table">
    <tr>
        <th>
            Bezeichnung
        </th>
        <th>
        </th>
    </tr>
    <tr>
        <td>
            BIOF NSUV Biofor Allgemeine Abgänge Bestand
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbioforgebaude/BIOF NSUV Biofor Allgemeine Abgänge Bestand.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>
            BIOF NSUV Biofor Beleuchtungsabgänge Bestand
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbioforgebaude/BIOF NSUV Biofor Beleuchtungsabgänge Bestand.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>
            BIOF NSUV Biofor Klemmleiste Bestand
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbioforgebaude/BIOF NSUV Biofor Klemmleiste Bestand.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>
            BIOF NSUV Biofor Kompressorsteuerung Bestand
        </td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbioforgebaude/BIOF NSUV Biofor Kompressorsteuerung Bestand.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>
    </tr>
    <tr>
        <td>BIOF NSUV Biofor Messungen Bestand</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbioforgebaude/BIOF NSUV Biofor Messungen Bestand.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>BIOF NSUV Biofor Rohwasserpumpen Bestand</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbioforgebaude/BIOF NSUV Biofor Rohwasserpumpen Bestand.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>BIOF NSUV Biofor RW Abwasserbecken Bestand</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbioforgebaude/BIOF NSUV Biofor RW Abwasserbecken Bestand.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>BIOF NSUV Biofor SP ND06 und ND07 Bestand</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbioforgebaude/BIOF NSUV Biofor SP ND06 und ND07 Bestand.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
    <tr>
        <td>BIOF NSUV Biofor Spülluftgebläse und Meldungen Bestand</td>
        <td>
            <a href="https://amelblob.blob.core.windows.net/kaclpbestbioforgebaude/BIOF NSUV Biofor Spülluftgebläse und Meldungen Bestand.pdf" target="_blank"><img src="@Url.Content("~/Content/images/PDF_icon_32.png")" alt="Link" /></a>
        </td>

    </tr>
</table>